<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="TenantId" value="5883e84d-f2ad-4886-a82c-8c8d626e6335"/>
    <add key="ClientId" value="e8a8af6f-21d8-42ac-a3b7-71259f2fa958"/>
    <add key="ResourceId" value="https://msftplayground.info/Msft.Gab.Api_20170330510421" />
    <add key="ReplyAddressConfigured" value="https://localhost:456"/>
    <add key="Url" value="https://msftgabapi.azurewebsites.net/api/product"/>
  </appSettings>
</configuration>
